        <footer>
            <p>New Pathways &copy <%= new Date().getFullYear() %></p>
            <a href="https://calendly.com/newpathwayscbt" target="_blank"><img src="assets/images/calendar.svg" alt="Calendar Logo" class="calendar icon link"></a>
            <a href="http://www.whatsapp.com" target="_blank"><img src="assets/images/whatsapp.svg" alt="WhatsApp Logo" class="whatsapp icon link"></a>
            <a class="emob"><img src="assets/images/email.svg" alt="Email Logo" class="email icon link"></a>
            <a href="http://www.instagram.com/newpathwayscbt" target="_blank"><img src="assets/images/instagram.svg" alt="Instagram Logo" class="instagram icon link"></a>
        </footer>

        <div class="mobile-underlay hidden"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="scripts/default.js" charset="utf-8"></script>
        <% if (locals.script) { %>
            <script src="scripts/<%= script %>.js" charset="utf-8"></script>
        <% } %>
    </body>
</html>