<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>New Pathways</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/<%= style %>.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <picture>
                <source srcset="assets/images/homepage-tagline-lg.png" media="(min-width: 828px)">
                <img src="assets/images/homepage-md.png" alt="New Pathways logo of girl sitting under a tree." class="desktop-logo">
            </picture>
            <section class="mobile-banner">
                <img src="assets/images/mobile-logo.png" alt="New Pathways logo of girl sitting under a tree." class="mobile-logo">
                <h1>New Pathways</h1>
                <img src="assets/images/list.svg" alt="Menu icon" class="menu-icon">
            </section>
            <nav class="mobile-nav hidden">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./pages/about/about.html">About</a></li>
                    <li><a href="./pages/contact/contact.html">Contact</a></li>
                </ul>
            </nav>
            <nav class="desktop-nav">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./pages/about/about.html">About</a></li>
                    <li><a href="./pages/contact/contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
