@import url("./general/default.css");

main {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    grid-template-columns: 1fr 1fr 1fr 20%;
    font-family: Verdana, sans-serif;
}

h2 {
    grid-row: 1/2;
    grid-column: 1/-1;
}

.question.btn img {
    border-radius: 50%;
    width: 60%;
    margin: 1rem;
}

a:hover {
    text-decoration: none;
}

.question.btn {
    justify-self: center;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem 2rem;
    padding: .75rem;
    width: fit-content;
    background-color: #6D9ACA;
    transition: all .2s ease-out;
    font-family: Bellota, sans-serif;
    text-shadow: 1px 1px 1px #B8ECEF;
    font-weight: bold;
}

.question.btn:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 4px 4px 8px navy;
}

.answer.block {
    background-color: #FCF3C1;
    padding: 2rem;
    font-size: 1.25rem;
    text-align: justify;
    justify-self: center;
    border-radius: 2rem;
    border: double navy;
    margin: 2rem 2rem;
}

.answer.block ul {
    columns: 2;
    text-align: left;
}

.answer.block div {
    display: flex;
    flex-direction: column;
}

.answer.block .btn {
    align-self: flex-end;
}

.cbt.question.btn {
    grid-row: 2/3;
    grid-column: 1/2;
}

.cbt.answer.block {
    grid-row: 3/4;
    grid-column: 1/4;
}

.help-how.question.btn {
    grid-row: 2/3;
    grid-column: 2/3;
}

.help-how.answer.block {
    grid-row: 4/5;
    grid-column: 1/4;
}

.start.question.btn {
    grid-row: 2/3;
    grid-column: 3/4;
}

.start.answer.block {
    grid-row: 5/6;
    grid-column: 1/4;
}

.testimonials {
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    background-color: #fff;
    padding: 2rem;
    grid-row: 6/7;
    grid-column: 1/-1;
    padding: 2rem 8rem;
    text-align: center;
    font-family: Bellota, sans-serif;
    color: #6D9ACA;
    text-shadow: 1px 1px 1px navy;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.75rem;
}

.profile.right {
    flex-direction: row-reverse;
    
}

.profile img {
    width: 8rem;
    margin: 2rem;
}

aside {
    background-color: #FCF3C1;
    grid-row: 2/6;
    grid-column: 4/-1;
    border-radius: 2rem 0 0 2rem;
    margin-bottom: 2rem;
    padding-left: .5rem;
    border: double navy;
}

aside a:link, aside a:visited {
    color: navy;
}

aside h3 {
    text-align: center;
}

aside div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

aside div a {
    flex: 0 1 25%;
    text-align: center;
}

aside div a img {
    width: 70%;
}

@media (max-width: 828px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    aside {
        display: none;
    }

    .testimonials {
        padding: 2rem 6rem;
    }

    .btn.question {
        margin: 0 1rem 1rem;
    }

    .answer.block {
        grid-column: 1/4;
        margin: 1rem;
    }

    .profile {
        font-size: 1.5rem;
    }
}

@media (max-width: 620px) {
    .question.btn p {
        text-decoration: underline;
    }

    .btn.question {
        font-size: 1.2rem;
        transition: none;
    }

    .btn.question:hover {
        transform: none;
        box-shadow: 2px 2px 4px navy;
    }

    .btn.question img {
        width: 80%;
    }

    .testimonials {
        background-image: linear-gradient(#eee .1em, transparent .1em);
        padding: 2rem 4rem;
    }

    .profile img {
        width: 5rem;
    }

    .profile {
        font-size: 1.25rem;
    }
}

@media (max-width: 560px) {
    .answer.block ul {
        columns: 1;
    }
}

@media (max-width: 500px) {
    .question.btn {
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 1.4rem;
    }

    .question.btn img {
        width: 40%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile, .profile.right {
        display: flex;
        flex-direction: column;
    }

    .profile p {
        margin-bottom: 4rem;
    }

    .profile img {
        margin: 0;
    }
    
    .answer.block {
        margin-bottom: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 460px) {
    .testimonials {
        padding: 2rem;
    }

    .answer.block {
        text-align: left;
    }


    

    
}