@font-face {
    font-family: Bellota;
    src: url(./assets/fonts/Bellota/Bellota-Regular.ttf);
}

/*Color Palette
Sky Blue: #A2E2E7
More Sky: 91E1E7
Dark Cloud: #F7E3AC
Medium Cloud: #FCF3C1
Light Cloud: #FEFDEF
Title: #6D9ACA
Title Shadow: #B8ECEF
Brown hair: B8ECEF
Skirt: F3624B
Dark Green: 206C66
Medium Green: 3B9277
Light Green: 4AAE6C
*/

/*GENERAL STYLES*/
html {
    font-size: 100%;
    color: navy;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #A2E2E7;
    font-family: Bellota, Verdana, sans-serif;
}

/*HEADER STYLES INCLUDE NP ARTWORK, NAV BARS, AND LOGOS*/
header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
    vertical-align: middle;
}

.mobile-banner {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #6D9ACA;
    z-index: 100;
}

h1 {
    font-family: Bellota;
    letter-spacing: .75rem;
    text-shadow: 1px 1px 1px #B8ECEF;
}

.mobile-logo {
    width: 4.5rem;
}

.menu-icon {
    width: 3rem;
}

.menu-icon:hover, .menu-icon:focus {
    background-color: #FCF3C1;
}

.menu-icon:active {
    background-color: #B8ECEF;
}

nav.desktop-nav {
    width: 100%;
    background-color: #6D9ACA;
    font-size: 1.1rem;
}

nav.desktop-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 20%;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
}

nav.desktop-nav li {
    flex: 0 1 8rem;
}

nav.desktop-nav a:link, nav.desktop-nav a:visited {
    color: navy;
    text-decoration: none;
    border-radius: 20px;
    padding: .75rem 3rem;
    display: block;
}

nav.desktop-nav a:hover, nav.desktop-nav a:focus {
    background-image: linear-gradient(to top right, #FCF3C1, #FEFDEF);
}

nav.mobile-nav {
    z-index: 100;
    font-size: 1.1rem;
    box-shadow: 2px 2px 4px navy;
    display: flex;
    justify-content: right;
    width: 70%;
    position: absolute;
    top: 3rem;
    background-color: inherit;
    align-self: flex-end;
}

nav.mobile-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-direction: column;
    margin: 0;
    width: 100%;
    height: unset;
}

nav.mobile-nav li {
    width: 100%;
    text-align: center;
}

nav.mobile-nav a:link, nav.mobile-nav a:visited {
    border-top: solid navy;
    background-color: #6D9ACA;
    border-radius: 0;
    color: navy;
    text-decoration: none;
    padding: .75rem 3rem;
    display: block;
}

nav.mobile-nav a:hover, nav.mobile-nav a:focus {
    background-image: linear-gradient(to top right, #FCF3C1, #FEFDEF);
}

h2 {
    font-family: Bellota;
    color: #6D9ACA;
    text-shadow: 1px 1px 2px navy;
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}

.btn, .btn:link, .btn:visited {
    border-radius: 2rem;
    background-color: #6D9ACA;
    padding: .5rem 2rem;
    text-align: center;
    box-shadow: 2px 2px 4px navy;
    text-decoration: none;
    color: navy;
}

.btn:hover, .btn:focus {
    background-color: #B8ECEF;
}

.btn:active {
    background-color: #FEFDEF;
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.75rem;
}

.profile.right {
    flex-direction: row-reverse;
    
}

.profile img {
    width: 8rem;
    margin: 2rem;
}

footer {
    background-color: #6D9ACA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
}

footer p {
    display: inline;
    font-size: 1rem;
    margin-right: 2rem;
}

footer img {
    width: 2rem;
    margin: .5rem;
    transition: transform .3s ease-in-out;
}

footer img:hover {
    transform: translateY(-0.3rem);
}

.instagram.icon.link:hover {
    border-radius: 30%;
    background-image: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.whatsapp.icon.link:hover {
    border-radius: 50% 50% 50% 0;
    background-color: #25D366;
}

.email.icon.link:hover {
    background-color: white;
    border-radius: 5px;
}

.calendar.icon.link:hover {
    border-radius: 5px;
    background-color: lightskyblue;
}

.mobile-nav.hidden {
    display: none;
}

.hidden {
    display: none;
}

.mobile-underlay {
    background-color: #000;
    opacity: .5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}


/*MOBILE SCREEN*/
@media (max-width: 620px) {
    .mobile-banner {
        display: flex;
    }

    .btn:active {
        background-color: #B8ECEF;
    }

    .desktop-logo, nav.desktop-nav {
        display: none;
    }

    footer img {
        width: 1.5rem;
        transition: none;
    }

    footer img:hover {
        transform: none;
    }

    .instagram.icon.link:hover, .whatsapp.icon.link:hover, .email.icon.link:hover, .calendar.icon.link:hover {
        background-image: unset;
        background-color: unset;
    }
}

@media (max-width: 500px) {
    h1 {
        letter-spacing: .5rem;
    }

    footer {
        justify-content: space-around;
    }
}

@media (max-width: 460px) {
    h1 {
        letter-spacing: .25rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 420px) {
    h1 {
        letter-spacing: 0;
    }
}