<%-include("partials/header.ejs") %>

<main>
    <h2>About Us</h2>

    <section id="about-us-links">
        <div class="photo-tile">
            <h3>About the Practitioner</h3>
            <img src="assets/images/profile-pic.jpg" alt="The New Pathways CBT Practitioner">
            <a href="/practitioner" class="btn">Learn More >></a>
        </div>
        <div class="photo-tile">
            <h3>New Pathways Origins</h3>
            <img src="assets/images/forest-path.png">
            <a href="/origins" class="btn">Learn More >></a>
        </div>
        <div class="photo-tile">
            <h3>24-Week Course Overview</h3>
            <img src="assets/images/course-overview.png" alt="Course Schedule Displayed with Weeks 13-16 Highlighted.">
            <a href="/course" class="btn">Learn More >></a>
        </div>
        <div class="photo-tile">
            <h3>Frequently Asked Questions</h3>
            <img src="assets/images/asking-questions.png">
            <a href="/faqs" class="btn">Learn More >></a>
        </div>
    </section>
</main>

<%-include("partials/footer.ejs") %>