<%-include("partials/header.ejs") %>

<main>
    <h2 id="schedule-free-consult">Contact Us</h2>
    <div>
        <img src="assets/images/calendar.svg" alt="Calendar Logo">
        <p>Schedule a Free<wbr> 30-Minute Consultation</p>
        <p><a class="emob free-consult">Make an Appointment</a></p>
    </div>
    <div>
        <img src="assets/images/calendar.svg" alt="Calendar Logo">
        <p>Schedule a Full Coaching Session</p>
        <p><a href="https://calendly.com/newpathwayscbt" target="_blank">Make an Appointment</a></p>
    </div>
    <div>
        <img src="assets/images/whatsapp.svg" alt="WhatsApp Logo">
        <p>Reach Out on WhatsApp</p>
        <p>+1 (253) 278-9736</p>
    </div>
    <div>
        <img src="assets/images/email.svg" alt="Email Logo">
        <p>Email Me</p>
        <a class="emob my-email"></a>
    </div>
    
    <div>
        <img src="assets/images/instagram.svg" alt="Instagram Logo">
        <p>Follow Me on Instagram</p>
        <a href="http://www.instagram.com/newpathwayscbt" target="_blank">@newpathwayscbt</a>
    </div>
</main>

<%-include("partials/footer.ejs") %>