<%-include("partials/header.ejs") %>

<main>
    <h2>About The Practitioner</h2>
    <section id="practitioner">
        <div class="profile">
            <img src="assets/images/profile-pic.jpg" alt="Hannah Conrad">
            <div>
                <h4>Hannah Conrad</h4>
                <p>CBT Practitioner</p>
            </div>
        </div>
        <p>My name is Hannah Conrad.
            When I was in my early 20's, I got to witness first-hand the power of CBT. 
        </p>    
        <p>In working with my own CBT therapist, I was amazed how a few simple techniques allowed me to emotionally recover from past trauma.
            It helped me let go of the emotional baggage I was still carrying.
            Don't get me wrong; it took real work. 
            The results made such an impact that over the next decade, I continuously looked for ways to apply these principles in my own life and to use them to help others.
        </p>
        <p>In 2023, my husband and I had the chance to move to Bangalore, India. 
            This change afforded me extra time with which I was able to finally finish my CBT coaching course.
            I was thrilled to get a chance to get more involved with something I'm so passionate about.
        </p>
    </section>
    <div class="nav-buttons">
        <a href="/about" class="btn">&lt;&lt; About</a>
        <a href="/origins" class="btn">Origins >></a>
    </div>
</main>

<%-include("partials/footer.ejs") %>