@import url(../../general/default.css);

main {
    margin: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-us-links {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: 100%;
    margin-bottom: 4rem;
    justify-content: center;
}

.photo-tile {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.photo-tile img {
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
    height: 20rem;
    margin-bottom: -4rem;
}

.btn {
    max-width: 8rem;
    align-self: flex-end;
    margin-right: 2rem;
}

#faqs {
    width: 100%;
}

h2 {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    clear: left;
    margin-top: 2rem;
}

@media (max-width: 790px) {
    h3 {
        margin-top: 2rem;
    }
}

@media (max-width: 460px) {
    main {
        margin: 0 1rem 2rem 1rem;
    }
}