@import url(../../general/default.css);

main {
    margin: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faqs {
    width: 100%;
}

#practitioner > p, #about-np > p {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 2.5rem;;
}

.answer {
    line-height: 2.5rem;
}

h2 {
    margin-bottom: 0;
}

h4 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.5rem;
    clear: left;
    margin-top: 4rem;
}

.profile img {
    margin: 0;
    flex: 3;
    border-radius: 2rem 0 0 2rem;
}

.profile {
    background-color: #6D9ACA;
    width: 60%;
    max-width: 40rem;
    align-items: center;
    border-radius: 2rem;
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.profile p {
    font-size: 1rem;
    margin: 0 1rem;
    font-style: italic;
}

.profile h4 {
    font-size: 1.25rem;
    margin: 0 1rem;
}

.question-bar {
    margin: 1rem 0 0;
    padding: .25rem;
    display: flex;
    align-items: center;
    background-color: #6D9ACA;
}

.question-bar .question {
    margin: 0 1rem 0 1.5rem;
    font-size: 1.5rem;
}

.answer {
    margin: 0;
    box-shadow: 2px 2px 2px #6D9ACA;
    padding: 1rem 1rem 1rem 3rem;
    font-size: 1.25rem;
}

.answer span {
    font-size: 2rem;
    font-weight: bold;
}

.question-bar img {
    height: 2rem;
    position: relative;
    margin-left: auto;
    margin-right: 1rem;
}

#pathway {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pathway > div {
    font-size: 1.25rem;
    flex: 1 0 12rem;
    max-width: 30rem;
    margin-bottom: 1rem;
    text-align: center;
    border: 2px solid #6D9ACA;
    padding: .5rem 1rem;
    margin: -1px;
}

#pathway > div:hover {
    background-color: #ffffff90;
}

#pathway > div:focus, #pathway > div:active {
    background-color: #FEFDEF;
}

.active {
    background-color: #FEFDEF;
}

#pathway > div.active:hover {
    background-color: #FEFDEF;
}

@media (max-width: 790px) {
    .profile {
        flex-direction: column;
        background-color: unset;
        align-items: center;
        margin-bottom: .25rem;
        width: 60%;
    }

    .profile img {
        width: 100%;
        border-radius: 0;
    }
    .profile div {
        background-color: #6D9ACA90;
        width: 90%;
        text-align: center;
        position: relative;
        top: -2rem;
        text-shadow: 1px 1px 1px navy;
        padding: 1rem 0;
    }

    h3 {
        margin-top: 2rem;
    }
}

@media (max-width: 620px) {
    .answer, #practitioner > p, #about-np > p {
        font-family: Verdana, sans-serif;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .profile {
        width: unset;
        float: none;
        margin-right: 0;
    }
}

@media (max-width: 460px) {
    #practitioner > p, #about-np > p {
        line-height: 1.5rem;;
    }

    main {
        margin: 0 1rem 2rem 1rem;
    }

    .question-bar .question {
        font-size: 1.1rem;
    }
    
    #faqs .answer {
        font-size: 1.1rem;
        line-height: 1.5rem;;
        padding-left: 1rem;
    }
}