@import url("./default.css");

main {
    margin: 0 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > p, .answer {
    font-size: 1.25rem;
    line-height: 3rem;
}

.answer {
    box-shadow: 2px 2px 4px #6D9ACA;
    padding: 1rem 2rem;
    background-color: #FEFDEF;
    text-align: justify;
}

#pathway {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pathway > div {
    font-size: 1.25rem;
    flex: 1 0 20rem;
    max-width: 30rem;
    margin-bottom: 1rem;
    text-align: center;
    border: 2px solid #6D9ACA;
    padding: .5rem 1rem;
    margin: -1px;
    margin-top: .5rem;
}

#pathway > div:hover {
    background-color: #ffffff90;
}

#pathway > div:focus, #pathway > div:active {
    background-color: #FEFDEF;
}

#phase-info .answer {
    border: 1px solid #6D9ACA;
    margin-top: .5rem;
    
}

.active {
    background-color: #FEFDEF;
}

#pathway > div.active:hover {
    background-color: #FEFDEF;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}

@media (max-width: 800px) {
    #pathway > div {
        flex: 1 0 15rem;
    }
}

@media (max-width: 620px) {
    #pathway > div {
        margin-top: -1px;   
    }
    #pathway > div {
        flex: 1 0 16rem;
    }
}

@media (max-width: 520px) {
    .answer, main > p {
        line-height: 2rem;
    }
}

@media (max-width: 460px) {
    main {
        margin: 0 1rem 2rem 1rem;
    }
}

